<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 整个映射文件为mapper节点，里面包含namespace属性 -->
<mapper namespace="com.gymms.mapper.AppointmentMapper">

    <select id="getAppointment" resultType="com.gymms.entity.Appointment">
        SELECT appointment_id as appointmentId,message,member.name as memberName,member.nick_name as nickName,course.name as courseName,
        appointment.course_id as courseId,appointment.member_id as memberId,appointment.date as time,appointment.point as point
        FROM appointment,member,course
        <where>
            <if test="name != null and name != ''">
                and member.nick_name like concat('%',#{name},'%')
            </if>
            and appointment.course_id = course.course_id
            and appointment.member_id = member.member_id
            and appointment.state = '未完成'
            and course.coach_id = #{coachId}
        </where>

    </select>
    <select id="getallAppointments" resultType="com.gymms.entity.Appointment">
        select a.*,m.nick_name as nickName,m.name as memberName,m.phone_number as memberPhone,c.name as coachName,c.phone_number as coachPhone,
        course.name as courseName
        from appointment a,member m,coach c,course
        <where>
            <if test="name != null and name != ''">
                and m.phone_number like concat('%',#{name},'%')
            </if>
            <if test="state != null and state != ''">
                and a.state =#{state}
            </if>
            and a.course_id = course.course_id and a.member_id = m.member_id and a.coach_id = c.coach_id
        </where>
        ORDER BY a.appointment_id DESC
    </select>

</mapper>