<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 整个映射文件为mapper节点，里面包含namespace属性 -->
<mapper namespace="com.gymms.mapper.CoachMapper">

    <select id="SubNum" resultType="java.lang.Integer">
        SELECT count(*) FROM subscribe,course
        <where>
            and subscribe.course_id = course.course_id
            and course.coach_id = #{coachId}
        </where>
    </select>
    <select id="Recruit" resultType="java.lang.Integer">
        SELECT SUM(recruit) FROM course where coach_id = #{coachId} and (state='已上线' OR state='待审核')

    </select>
    <select id="getStudent" resultType="com.gymms.entity.dto.CoachMemberDto">
        SELECT member.name as memberName,member.nick_name as nickName,course.name as courseName,
        member.phone_number as phone,subscribe.time as time
        FROM subscribe,member,course
        <where>
            <if test="name != null and name != ''">
                and member.nick_name like concat('%',#{name},'%')
            </if>
            and subscribe.course_id = course.course_id
            and subscribe.member_id = member.member_id
            and course.coach_id = #{coachId}
        </where>

    </select>

</mapper>