<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 整个映射文件为mapper节点，里面包含namespace属性 -->
<mapper namespace="com.gymms.mapper.FlowMapper">


    <select id="getweek" resultType="java.lang.Integer">
        select sum(num) from flow where date = #{weekdate}
    </select>
</mapper>